<div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Skills</h4>
      <i class="devicon-amazonwebservices-original"></i>
      <i class="devicon-mysql-plain"></i>
      <i class="devicon-debian-plain"></i>
      <i class="devicon-nginx-original"><i/>
      <p>I have a very wired variety of skills and knowledge from working in various sectors of the IT industry</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-python-plain"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <i class="devicon-html5-plain-wordmark"></i>

      <p>I mainly write scripts in Bash and Python. I also various other languages depending on the project I am working on</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-vim-plain"></i>
      <i class="devicon-git-plain"></i>
      <i class="devicon-ssh-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <p>Tools tools tools</p>
    </div>
  </div>
</div>
